@import url(./styles.css);
@import url(./header.css);
@import url(./footer.css);

html,
body {
  margin: 0;
  padding: 0;
}

body form ul {
  padding: 0;
}

.confirmation-message {
  margin: 120px;
  font-size: clamp(12px, 1vw, 18px);
}

.continue-shopping {
  background-color: #b3b1b1;
  font-size: clamp(10px, 1vw, 14px);

  color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
