header {
  width: 100%;
  background-color: var(--color-primary);
  padding: 20px;
  color: white;
}

/* check out how i can fix so the children inside navbar are their own boxes */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

.head-left,
.logo,
.head-right {
  flex: 1;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
  height: auto;
}

.head-left {
  display: flex;
  justify-content: flex-start;
}

.search-form input[type="text"] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
}

.head-right {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.search-icon {
  display: none;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 20px;
  }

  .head-left {
    flex: flex;
  }

  .head-right {
    display: flex;
  }

  .logo img {
    width: 120px;
  }

  .search-form {
    display: flex;
    width: 100px;
  }
}
