@import url(./styles.css);

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/images/Veeterzy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.hero {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.slogan {
  color: white;
  background-color: rgba(93, 105, 91, 0.8);
  font-size: clamp(16px, 3vw, 26px);
  text-align: center;
  font-weight: 400;
  padding: 2% 0;
  max-width: 1000px;
  min-width: 100px;
  border-radius: 10px;
  margin-top: 40px;
}

.stay-dry-button {
  color: black;
  background-color: rgba(179, 177, 177, 0.8);
  border-radius: 100px;

  font-size: clamp(14px, 3vw, 24px);

  cursor: pointer;
  border: none;
}

.stay-dry-button:hover {
  color: white;
  background-color: rgba(93, 105, 91, 0.8);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
