@import url(./styles.css);

html,
body {
  margin: 0;
  padding: 0;
}

body form ul {
  padding: 0;
}

.cart-badge {
  position: absolute;
  right: -8px;
  top: -8px;

  font-size: 12px;
  padding: 5px 8px;
  border-radius: 100px;
  background-color: black;
}

.cart-button {
  position: relative;
}

.shipping-info {
  margin-bottom: 15%;
  width: 300px;
  padding: 20px;
}

.payment-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.product-section h3,
h4 {
  margin: 10px 0;
}

.storm {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.order-summary fieldset {
  display: flex;
  flex-direction: column;
}

.summary-item-details {
  margin-bottom: 30px;
}

.summary-cost-details {
  display: flex;
  flex-direction: column;
}

.size-header h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.size-button {
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 14px;
}

.order-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.color-header h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.color-icon {
  width: 30px;
  height: auto;
}

.checkout-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-section form label,
.checkout-section form input {
  max-width: none;
  width: 100%;
}

.payment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.place-order-button {
  background-color: #b3b1b1;

  color: black;
  border: none;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-top: 20px;

  cursor: pointer;
}
.place-order-button:hover {
  background-color: var(--color-primary);
  color: white;
}

.payment-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
}

.payment-icons-1 img,
.payment-icons-2 img {
  width: 70px;
  height: auto;
}

.payment-icons-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.payment-icons-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .payment-layout {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .checkout-section {
    margin-top: 50px;
  }

  .storm {
    width: 100%;
  }

  .payment-method {
    width: 100%;
  }

  .product-section {
    align-items: center;
  }

  .cart-drawer-overlay {
    top: 175px;
  }
}
