@import url(./header.css);
@import url(./footer.css);
@import url(./styles.css);

html, body {
    margin: 0;
    padding: 0;
}

body form ul {
    padding: 0;
}

.cart-badge {
    position: absolute;
right: -8px;
top: -8px;

    font-size: 12px;
    padding: 5px 8px;
    border-radius: 100px;
    background-color: black;
}

.cart-button {
    position: relative;
}

.cart-drawer-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: -1000px;
  top: 148px;
  transition: all 0.5s ease-out;
}

.cart-drawer {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #D9D9D9;

}

body:target .cart-drawer-overlay {
  position: absolute;
  right: 0;
}

.cart-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.cart-image {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-left: 28px;
  margin-right: 10px;
}

.size-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.size-button-cart {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 12px;
}

.color-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.color-cart img {
    width: 30px;
    height: auto;
}

.remove-item {
  background-color: #b3b1b1;
  color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
}

.remove-item:hover {
  background-color: red;
  color: white;
}

.cart-total {
    margin-left: 40px;
    margin-bottom: 40px;
}

.continue-shopping {
  background-color: #b3b1b1;
  color: black;
  border: none;

  font-size: 10px;
  padding: 10px;
  margin-bottom: 10px;

  cursor: pointer;

}

.to-checkout {
  background-color: #b3b1b1;
  color: black;
  border: none;

  font-size: 10px;
  padding: 10px;
  margin-bottom: 10px;
  

  cursor: pointer;
}

.shipping-info {
    margin-bottom: 15%;
    width: 300px;
    padding: 20px;
}


.payment-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.product-section h3, h4 {
    margin: 10px 0;
}



.storm {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.order-summary fieldset {
    display: flex;
    flex-direction: column;
}

.summary-item-details {
    gap: -10px;
    margin-bottom: 30px;
}

.summary-cost-details {
    display: flex;
    flex-direction: column;
}

.size-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}

.size-button {
    width: 25px;
    height: 25px;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 14px;

}

.order-title {
    text-align: center;
}

.color-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.color-icon {
    width: 30px;
    height: auto;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.checkout-section form label,
.checkout-section form input {
    max-width: none;
    width: 100%;
}

.payment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.sign-in-button {
    background-color: #b3b1b1;

    
    color: black;
    border: none;
    border-radius: 5px;

    cursor: pointer;

}

.place-order-button {
    background-color: #b3b1b1;
    

    color: black;
    border: none;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 20px;

    cursor: pointer;
}
.place-order-button:hover {
    background-color: var(--color-primary);
    color: white;
}


.payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
}

.payment-icons-1 img, .payment-icons-2 img {
    width: 70px;
    height: auto;
}

.payment-icons-1 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.payment-icons-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .payment-layout {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .checkout-section {
        margin-top: 50px;
    }

    .storm {
        width: 100%;
    }

    .payment-method {
        width: 100%;
    }

    .product-section {
        align-items: center;
    }
    
}