@import url(./header.css);
@import url(./footer.css);
@import url(./styles.css);

html, body {
    margin: 0;
    padding: 0;
}


body form ul {
    padding: 0;
}

.processing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.processing-header {
    font-family: var(--main-font);
}


.spinner {
    width: 130px;
    height: 130px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid var(--color-primary);
    border-bottom: 20px solid var(--color-primary);
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}