/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

main {
  flex-grow: 1;
  margin-top: 0;
  padding-top: 0;
  flex: 1;
}

body {
  background-image: none;
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.breadcrumbs {
  display: flex;
  margin: 0;
}

.breadcrumbs ul {
  display: flex;
}
.breadcrumbs li {
  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: ">";
  margin: 0.5rem;
}

.chat-box {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 10px;
  bottom: 200px;
  margin-bottom: 20px;
}
.chat-box :hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.coming-soon {
  position: relative;
}

.sign-in {
  display: grid;

  gap: 10px;
  width: 400px;
  padding: 10px 50px;
}

.sign-in-button {
  background-color: #b3b1b1;

  color: black;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.empty-cart-drawer-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 148px;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

.empty-cart-drawer {
  display: flex;
  flex-direction: column;
  width: min(450px, 90vw);
  height: 350px;
  background-color: #d9d9d9;
}

.empty-cart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
}

.close-cart {
  display: flex;
  padding: 10px;
  color: black;
}

body:target .empty-cart-drawer-overlay {
  position: absolute;
  visibility: visible;
}

/* always used  */

legend {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "montserrat", sans-serif;
}

button {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

:hover {
  transition: all 0.3s ease;
}
